# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.pdb
*.inc
*.obj
*.cso


# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
!/TestProjects/gates/TestProject/external/Vulkan/Lib/*.lib
 

# Executables
*.exe
*.out
*.app

.vs/
x64/
